* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: $fontFamily;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.selected{
  padding: 15px;

  @media only screen and (min-width: $screen-md) {
    padding: 15px 24px;
  }
}

p {
  text-align: center;
  padding: 20px 10px;
}