// fonts
$fontFamily: 'Roboto', sans-serif;

//media
$screen-xs: 360px;
$screen-sm: 767px;
$screen-md: 768px;
$screen-lg: 992px; 
$screen-xl: 1366px; 
$screen-xxl: 1680px; 

// colors
$colorMain: #00de8d;
$colorMainSecond: #1b36d8;
$colorWhite: #fff;
$colorGrey: #d9dee1;