@import "../../assets/scss/veriables";

.selectedVehicleContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 15px;

  @media only screen and (min-width: $screen-md) {
    padding: 24px;
  }
}

.listHead {
  background: $colorWhite;
  padding: 10px 15px;
  border-bottom: 1px solid;

  @media only screen and (min-width: $screen-md) {
    padding: 10px 24px;
  }
}

.selectedItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  font-size: 12px;
  line-height: 16px;
  background: $colorGrey;
  border-radius: 8px;
  margin: 0 5px 5px 0;
}

.selectedItemText{
  padding: 0 5px;
  flex: 1;
  max-width: 100%;

  &:last-of-type{
    flex: 0 0 145px;
    max-width: 145px;
  }
}