@import "../../assets/scss/main.scss";

.refreshButton {
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.listItem {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  font-size: 12px;
  padding: 15px;
  word-break: break-word;
  background: #fff;
  margin-bottom: 20px;
  border: 2px solid $colorMainSecond;
  transition: 0.5s linear background-color;

  @media only screen and (min-width: $screen-md) {
    padding: 20px 32px;
  }

  &:hover {
    background-color: $colorMainSecond;
    color: $colorWhite;
  }
}

.noItemsFound {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}