@import "../../assets/scss/main.scss";

.InputSearch {
  order: -1;
  height: 40px;
  position: relative;
  width: 100%;
  padding: 15px;
  border-width: 0 0 1px;
  outline: none;
  background: url(../../assets/imgs/icons/search.svg) no-repeat right 15px center $colorWhite;
  background-size: 18px auto;

  @media only screen and (min-width: $screen-md) {
    padding: 10px 60px 10px 32px;
    background-position: right 24px center;
  }
}