@import "../../assets/scss/veriables";

.vehicle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 90px;
  min-width: 280px;
  font-size: 12px;
  padding: 15px 10px;
  margin-bottom: 10px;
  border: 1px solid;
  cursor: pointer;
  background: $colorWhite;
  transition: 0.2s linear background-color;

  i {
    display: block;
    font-weight: normal;
    padding-bottom: 5px;
  }

  span {
    padding: 0 5px;
    flex: 1;
    text-align: left;
  }

  .engineCapacity {
    flex: 0 0 145px;
    max-width: 145px;
    text-align: right;
    white-space: nowrap;
  }
}

.bodyType {
  font-weight: 600;
}

.close {
  width: 15px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url(../../assets/imgs/icons/close.svg) center no-repeat;
}
