@import "../../assets/scss/main.scss";

.pageHeader {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 8px solid $colorMain;
  background: $colorMainSecond;

  @media only screen and (min-width: $screen-md) {
    font-size: 20px;
    padding: 20px 32px;
  }
}

.logo {
  display: flex;
  align-items: center;

  span {
    color: #fff;
    max-width: 150px;
    display: block;

    @media only screen and (min-width: $screen-md) {
      max-width: 200px;
    }
  }
}

.logoImg {
  max-width: 30px;
  margin-right: 15px;

  @media only screen and (min-width: $screen-md) {
    max-width: 50px;
  }
}
