@import "../../assets/scss/main.scss";

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  border: 1px solid;
  overflow: hidden;
  background: url(../../assets/imgs/grid.svg);

  @media only screen and (min-width: $screen-md) {
    width: 33%;
  }
}

.head {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px;
  border-bottom: 1px solid;

  @media only screen and (min-width: $screen-md) {
    font-size: 24px;
    padding: 15px 24px;
  }
}