@import "../../assets/scss/veriables";

.selectedItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 16px;
  background: $colorGrey;
  border-radius: 8px;
}

.close {
  background: url(../../assets/imgs/icons/close.svg) center no-repeat;
  border-radius: 8px;
  width: 12px;
  height: 12px;
  margin-left: 6px;
}
